.portfolio_card{
    display: flex;
    flex-direction: row;
    margin: 20px auto;
    border-radius: 32px;
    justify-content: center;
    width: 80%;
    padding: 64px 0px;
    -webkit-box-shadow: 5px 5px 30px 0px rgba(163,163,163,1);
    -moz-box-shadow: 5px 5px 30px 0px rgba(163,163,163,1);
    box-shadow: 5px 5px 30px 0px rgba(163,163,163,1);
}

.portfolio_card_text_container{
    max-width: 400px;
    margin: 0px 32px;
}

.google_play_badge{
    height:80px;
    width: 200px;

}

.keywords{
    font-weight: 800;
    
}

.portfolio_card_image{
    margin-left: 15%;
    max-width: 35%;
    
    
}

@media(max-width: 900px){
    .portfolio_card_text_container{
        max-width: 80%;
        text-align: center;
    }
    .portfolio_card_text_container a{
        display: flex;
        justify-content: center;
    }
    .portfolio_card{
        padding: 24px 0px;
        margin: 0px;
        width: 100%;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        box-shadow: none;
        background: white !important;
        border-radius: 0px;
        border-bottom: 1px solid #E0E0E0;
    }
    .portfolio_card_image{
       margin: 0px;
       max-width: 40%;
    }

    .portfolio_card_text_container{
        display: flex;
        flex-direction: column;
        justify-content: center;
    }

    .hide_on_mobile{
        display: none;
    }
}

@media(max-width: 480px){
    .portfolio_card_image{
        max-width: 80%;
     }
}

/*
<PortfolioSection
                title="MMA News Feed"
                currently="Being a huge fan of MMA and having competed in the sport myself, I created a mobile app for myself so I could read all the latest MMA related news as easy as possible. Basically all it does is combine RSS feeds from the most relevant sources."
                future="Not planning on developing this further."
                tech="The app is made using Flutter, so it can be built for both Android and iOS. Although it is only available for Android on Google Play, you can clone the repository from my Github and built it for your iOS device."
                image="mma_news.png"
                keywords="Dart, Flutter, Cross-platform, RSS"
            />

            <PortfolioSection 
            
            title="Kalapaikka"
            currently="An Android application for recreational fishers who want to log their best fishing spots on the map. The user can write down a name, description, what type of fish lives in that spot, time of the year and many other things. "
            future="Since it gained at least some users and visibility on Google Play (200 installs with half of the users active), I've decided to develop 2.0 version of it when I've got time. 
            It'll include features like sharing public fishing spots and writing tips for them, some kind of image feed for sharing photos of the places and catches and a complete UI facelift.
            "
            tech="The map is provided by Mapbox Android SDK. The backend is handled by Firebase and the application uses MVVM design pattern with LiveData"
            image="kalapaikka.png"
            keywords="Kotlin, Android architecture components, MVVM"
            />
            
            <PortfolioSection
            title="Guitar App"
            currently="An app that lets you plan and create your guitar exercises and then execute them. Comes with a couple of premade exercises. It'll also show your progress and simple statistics."
            future="Not planning on developing this further."
            tech="Local SQLite database to store user data. The application uses all the best practises architecture-wise including dependency injection and business logic components."
            image="guitar_log.png"
            keywords="Dart, Flutter, Cross-platform"
            />

            <PortfolioSection
            title="Whiskey App"
            currently="Lets you query all the whiskeys in Alko and save your favorite ones."
            future="Not planning on developing this further."
            tech="The data is provided by a REST API I created. The favorites are stored in the Core Data."
            keywords="iOS, Swift, NodeJs, REST, MongoDB"
            image="whiskey.png"
            
            />
*/