.header_container{
    width: 100%;
    height: 80vh;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    padding-bottom: 24px;
    
}

.portfolio_section_container{
    display: flex;
    flex-direction: column;
    justify-content: center;
    max-width: 100%;
}
.header_text_container{
    width: 500px;
}

.title{
    font-size: 72px;
    font-weight: 800;
    line-height: 90%;
    
}
.description{
    font-size: 22px;
}

.btn_black{
    color: white;
    background-color: black;
    font-weight: 800;
    font-size: 22px;
    width: 80%;
    height: 64px;
    border: none;
}

.image_container_portfolio{

    max-width: 450px;
}

@media(max-width: 768px){
    .header_container{
        height: auto;
        flex-direction: column-reverse;
        justify-content: center;
        align-items: center;
    }
    .header_text_container, .image_container{
        width: 90%;
    
    }
    .title{
        font-size: 32px;
        text-align: center;

    }
    .description{
        text-align: center;
    }
    .btn_black{
        width: 100%;
    }
}