.portfolio_section_content{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap-reverse;
    justify-content: space-around;
    align-items: center;
    padding-bottom: 32px;
    margin: 16px;
    border-bottom: solid 1px #E0E0E0;
}



.portfolio_text_container{
    max-width: 500px;
}

.portfolio_section_image{
    width: 200px;
    border-radius: 15px;
    
}

@media(max-width:767px){
    .portfolio_text_container p{
        text-align: start;
    }
    .portfolio_section_image{
        display: none;
    }
}