.toolbar {
  width: 100%;
}

.toolbar_navigation {
  display: flex;
  align-items: center;
  padding: 0 1.5rem;
}

.toolbar_logo {
  margin-left: 1.5rem;
}

.spacer {
  flex: 1;
}

.toolbar_nav_items a {
}

.toolbar_nav_items ul {
  list-style: none;
  display: flex;
}

.toolbar_nav_items li {
  padding: 0 1.5rem;
}

.toolbar_nav_items a:hover,
.toolbar_nav_items a:active {
  color: #17b890;
}

@media (max-width: 768px) {
  .toolbar_nav_items {
    display: none;
  }
  .spacer_mobile {
    flex: 1;
  }
  .spacer {
    flex: 0;
  }
  .toolbar_logo {
    margin-right: 1.5rem;
  }
}

@media (min-width: 769px) {
  .burger_bar {
    display: none;
  }
  .toolbar_logo {
    margin: 0;
  }
}
