

.content_container{
    width: 100%;
    height: 80vh;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    
}

.content{
    width: 500px;
}

.divider{
    
}

.image_container{
    max-width: 600px;
}

.page_image{
    width: 100%;
}

.title{
    font-size: 72px;
    font-weight: 800;
    line-height: 90%;
    margin-bottom: 0px;
    
}
.description{
    font-size: 22px;
}

@media(max-width: 768px){
    .content_container{
        height: auto;
        flex-direction: column-reverse;
        justify-content: center;
        align-items: center;
    }
    .content, .image_container{
        width: 90%;
    
    }
    .title{
        font-size: 32px;
        text-align: center;

    }
    .description{
        text-align: center;
    }
}