.contact_container{
    max-width: 100%;
    height: 80vh;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
  

}
.contact_link{
    text-decoration: none;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    color: black;
}
.content_section{
    max-width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.contact_image{
    max-width: 350px;
}

.text_div h1{
    margin: 0px;
    max-width: 100%;
    font-size: 68px;
}

.text_div p{
    margin: 0px;
    font-size: 18px;
}

.icon_row{
    margin-top: 24px;
    width: 100%;
    display: flex;
    justify-content: space-between;
}
.icon{
    width: 40px;
    height: 40px;
    padding: 16px;
}

@media(max-width: 768px){
    .icon_row{
        flex-direction: column;
        align-items: flex-start;
    }
    .contact_container{
       
    }
    .text_div h1{
        text-align: center;
        font-size: 32px;
    }
}