.item_container{
    max-width: 65%;
    border-bottom: 1px solid #E0E0E0;
    padding-bottom: 24px;
}

.item_container a{
    text-decoration: none;
    font-size: 22;
    font-weight: bold;
    color: #17B890;
    float: right;
}

.item_container small{
    color: #17B890;
    font-weight: bold;
}

.item_image{
    width: 100%;
}

.block-with-text {
    overflow: hidden;
    position: relative;
    line-height: 1.2em;
    max-height: 6em;
    text-align: justify;
    margin-right: -1em;
    padding-right: 1em;
  }
  .block-with-text:before {
    content: '...';
    position: absolute;
    right: 0;
    bottom: 0;
  }
  .block-with-text:after {
    content: '';
    position: absolute;
    right: 0;
    width: 1em;
    height: 1em;
    margin-top: 0.2em;
    background: white;
  }

  @media(max-width:767px){
      .item_container{
          max-width: 100%;
      }
  }