
.App{
    min-height: 100vh;
    background: rgba(21, 23, 26, 0.95);
}

body{
    color: white;
    font-family: Montserrat;
    font-size: 18px;
    letter-spacing: 0.12ch;
    line-height: 2.8ch;
    margin: 0px;
    padding: 0px;
}

h1{ 
    font-family: Nunito;
    font-weight: 600;
    letter-spacing: 0.25ch;
    font-size: 64px;
    line-height: 90%;
    
}

button {
    background-color: white;
    border-radius: 32px;
    font-family: Montserrat;
    font-weight: 700;
    font-size: 18px;
    letter-spacing: 0.25ch;
    width: 80%;
    height: 64px;
    border: none;
}

button:hover{
    cursor: pointer;
}

h4{
    color: #B6B6B6;
}

a{  
    font-family: Nunito;
    letter-spacing: 0.40ch;
    font-weight: 400;
    font-size: 14px;
    color: white;
    text-decoration: none;
}

.layout-container{
    padding-top: 32px;
    max-width: 1600px;
    margin:auto;
  }
  
  @media(max-width: 768px){
    
    .layout-container{
        width: 100%;
        padding: 16px;
        box-sizing: border-box;
        
    }

    h1{
        font-size: 32px;
        text-align: center;
    }
    
    button{
        width:80%;
    }

    body{
        text-align: center;
    }
  }