.layout_container{
    padding-top: 32px;
    max-width: 1200px;
    margin:auto;
}

@media(max-width: 768px){
    
    .layout_container{
        width: 100%;
        padding: 16px;
        box-sizing: border-box;
        
    }
}

.App{
    height: 100vh;
    background: rgba(21, 23, 26, 0.95);
    
}

body{
    color: white;
    font-family: Montserrat;
    font-size: 18px;
    letter-spacing: 0.12ch;
    line-height: 2.8ch;
}

h1{ 
    font-family: Nunito;
    font-weight: 600;
    letter-spacing: 0.25ch;
    font-size: 64px;
    
}