.layout_container{
    padding-top: 32px;
    max-width: 1200px;
    margin:auto;
}

@media(max-width: 768px){
    
    .layout_container{
        width: 100%;
        padding: 16px;
        box-sizing: border-box;
        
    }
}

.App{
    height: 100vh;
    background: rgba(47, 52, 58, .90)
    
}